* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 7px 0;
    text-align: center;
    position: relative;
    min-height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.logo-img {
    width: 170px;
    height: auto;
}

.texto h1 {
    font-size: 2.2em;
    margin: 10px 0;
}

.texto p {
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    border-bottom: 2px solid #ff6347;
}

.curriculo {
    padding: 40px 50px;
}

.curriculo .container {
    display: block;
}

.perfil {
    text-align: center;
    margin-bottom: 20px;
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil h2 {
    margin: 10px 0;
}

.info {
    margin-bottom: 20px;
    padding: 15px;
    background: #f9f9f9;
    border-left: 5px solid #222;
    border-radius: 5px;
    width: 100%;
}

.info.sobre p {
    text-align: justify;
    line-height: 1.4;
}

.info h3 {
    margin-bottom: 10px;
    color: #222;
}

.info p, .info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info ul li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

.info ul li::before {
    content: '\2022';
    color: #222;
    font-weight: bold;
    position: absolute;
    left: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    margin-top: 20px;
}
