* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 7px 0; 
    text-align: center; 
    position: relative; 
    min-height: 100px; 
}

.container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    gap: 20px;
}


.logo-img {
    width: 170px; 
    height: auto; 
}

.texto h1 {
    font-size: 2.2em;
    margin: 10px 0;
}

.texto p {
    font-size: 1.2em; 
}

nav ul {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    display: inline-block; 
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-size: 1.1em; 
}

nav ul li a:hover {
    border-bottom: 2px solid #ff6347; 
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    display: flex;
    width: 100vw; 
    height: 100vh;
}

.link-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.3),
                inset -4px -4px 6px rgba(0, 0, 0, 0.3),
                4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease;
}


.link-item:hover {
    box-shadow: inset 6px 6px 8px rgba(255, 255, 255, 0.4),
                inset -6px -6px 8px rgba(0, 0, 0, 0.4),
                6px 6px 12px rgba(0, 0, 0, 0.6);
    transform: scale(1.05); 
}


.whatsapp {
    background: linear-gradient(to bottom, #25D366, #1a9f4a);
}

.linkedin {
    background: linear-gradient(to bottom, #A0D8EF, #4f94c3);
}

.instagram {
    background: linear-gradient(to bottom, #AA47BC, #803489);
}

.form {
    background: linear-gradient(to bottom, #F8E8B3, #e6c573);
}


.link-item img {
    width: 80px;
    height: auto;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5)); 
}


footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 15px 0; 
    font-size: 1em; 
    margin-top: auto;
}