/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 7px 0;
    text-align: center;
    position: relative;
    min-height: 100px;
}

/* Container que organiza o nome, logo e profissão */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

/* Estilo da logo */
.logo-img {
    width: 170px;
    height: auto;
}

/* Estilo do nome e profissão */
.texto h1 {
    font-size: 2.2em;
    margin: 10px 0;
}

.texto p {
    font-size: 1.2em;
}

/* Estilo do menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    border-bottom: 2px solid #ff6347;
}

/* Estilo do conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilo do contêiner de imagens */
.image-container {
    width: 100%;
}

/* Estilo das caixas de imagem */
.image-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    width: 100%; /* Garante que as caixas de imagem usem toda a largura disponível */
}

/* Estilo das imagens */
.image {
    width: 300px; /* Define a largura das imagens */
    height: 300px; /* Define a altura das imagens */
    border-radius: 100%; /* Bordas arredondadas das imagens */
    margin-right: 10px;
    flex-shrink: 0; /* Impede que as imagens sejam comprimidas */
}

/* Estilo específico para o texto BAJA */
.text-baja {
    text-align: left; /* Alinha o texto à esquerda */
    text-align: justify;
    
    font-size: 1em;
    color: #333;
    margin: auto 10px;
    flex: 1; /* Permite que o texto use o espaço restante */
}

/* Estilo específico para o texto NOVAEKINATA */
.text-novaekinata {
    text-align: left; /* Alinha o texto à esquerda */
    text-align: justify;

    font-size: 1em;
    color: #333;
    margin: auto 10px;
}

/* Alinhamento das caixas de imagem */
.image-box.left {
    justify-content: flex-start;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1em;
    margin-top: auto;
}